@import "tailwindcss";

:root {
  --background: #8f8585;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c2b5b5;
    --foreground: #0e0d0d;
    
  }
}

html,
body {
  max-height: 100vh;
  width: 100%;
  background: var(--background);
  color: var(--foreground);
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
